<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <PropertyGroup>
        <OutputType>Exe</OutputType>
        <EnableNETAnalyzers>true</EnableNETAnalyzers>
        <LangVersion>11.0</LangVersion>
        <Nullable>enable</Nullable>
        <TargetFramework>net7git re.0</TargetFramework>
    </PropertyGroup>
</configuration>
